<ion-tabs class="menu">  
    <ion-tab-bar slot="bottom">
      <!-- Inicio -->
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      
      <!-- Buscar -->
      <ion-tab-button tab="buscar">
        <ion-icon name="location-outline"></ion-icon>
        Buscar
      </ion-tab-button>
      
      <!-- Reservas -->
      <ion-tab-button tab="reservas">
        <ion-icon name="calendar-outline"></ion-icon>
        Reservas
      </ion-tab-button>
      
      <!-- Perfil -->
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  