#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  // transform: translateY(-50%);
}
#mapa {
  width: 100%;
  height: calc(100% - 115px);
}
